@mixin header-font {
    font: {
        family: $head-font;
        weight: 700;
        size: 22px;
    }
    color: $head-font-color;
}

@mixin content-font {
    font: {
        family: $content-font;
        weight: 400;
        size: 20px;
    }
    color: $content-font-color;
}

@mixin page-header-font {
    font: {
        family: $head-font;
        weight: 700;
        size: 22px;
    }
    color: $gun-metal-font;
}

@mixin fact-font {
    font: {
        family: $content-font;
        weight: 400;
        size: 16px;
    }
    color: $fact-font-color;
}