$head-font: 'Dosis', sans-serif;
$content-font: 'Open Sans', sans-serif;
$head-font-color: #ffbf00;
$content-font-color: #2C3539;

$gold: #ffbf00;
$gun-metal: #2C3539;
$black: black;

$main-bg: black;