$head-font: 'Dosis', sans-serif;
$content-font: 'Open Sans', sans-serif;
$head-font-color: #ffbf00;
$content-font-color: #a8a8a8;
$gun-metal-font: #2C3539;
$fact-font-color: #696969;

$gold: #ffbf00;
$gun-metal: #2C3539;
$black: black;

$main-bg: black;