.main-bg {
    height: 100%;
    width: 100%;
    background-color: $main-bg;
    padding: 20px;
}

.body-header-container{
    height: 140px;
}
.body-header {
    @include header-font;
    text-align: center;
    padding-top: 80px;
}

.result-container {
    width: 100%;
    height: 100%;
    border: 1px solid $gold;
    padding: 10px;
    margin-left: 1px;
}

.title {
    @include header-font;
}

.release {
    font-family: $content-font;
    color: $content-font-color;
    font-weight: 400i;
    font-size: 10px;
}

.director {
    font-family: $content-font;
    color: $content-font-color;
    font-size: 10px;
}

.plot {
    @include content-font
}

.poster {
    height: 203px;
    width: 157px;
}

.meta {
    font-family: $content-font;
    color: $head-font-color;
    font-size: 10px;
}

.more-info-btn {
    background-color: $gold;
    border-radius: 25px;
    border: 2px solid $gun-metal;
}